# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\CODE\CLionProjects\test-20-12-14\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
